# Archivos de dependencias
node_modules/

# Carpetas de compilación de Angular
.angular/
dist/
/out-tsc/
bazel-out/

# Logs
npm-debug.log
yarn-error.log
yarn-debug.log

# Editor y Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Otros
.env
.env.local
